<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317473292481-lj8ga8glqmoon9gia86lrtfd5civ7e68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317473292481-lj8ga8glqmoon9gia86lrtfd5civ7e68</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>317473292481-6l7l77ofvp8o721g6c02mud132p71828.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaSJ0TwMrMGed2wlSv_Vv5QPMgnOfQo20</string>
	<key>GCM_SENDER_ID</key>
	<string>317473292481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hamburgueriaarcade</string>
	<key>PROJECT_ID</key>
	<string>hamburgueria-arcade-c64e8</string>
	<key>STORAGE_BUCKET</key>
	<string>hamburgueria-arcade-c64e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317473292481:ios:f5d6447af7c04c0bd35440</string>
</dict>
</plist>